<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS do bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/teste.css">

    <title>Crud Básico</title>
</head>

<body>

    {{>nav}}
    <main style="max-width: 950px; margin: auto;">
        {{{body}}}
    </main>









    <!-- Link Javascript do bootstrap -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>